body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.red-border {
  border: 3px solid red;
}

.green-border {
  border: 3px solid rgb(6, 240, 15);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.black-coral {
  background-color: #3E4451;
}

.black-coral-2 {
  background-color: #596273;
}

.radius-border-10 {
  border-radius: 10px;
}

.loading {
  animation: spin 1s linear infinite;
  border: 8px solid rgba(255, 87, 34, 1);
  border-left-color: rgb(255, 130, 92);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

@keyframes spin {

  to { transform: rotate( 360deg ); }
}

.width-90 {
  width: 90%;
}

.width-100 {
  width: 100%;
}

.margin-10p {
  margin: 10px;
}

.margin-20p {
  margin: 20px;
}

.width-40 {
  width: 40%;
}

.margin-0 {
  margin: 0;
}
